@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
    --color-navy-blue: #161632;
    --color-sage-gray: #92a59d;
    --color-dark-gray: #050235;
    --font-jura: 'Jura', sans-serif;
    --color-bright-gray: #b4ffdd;
    --color-incorrect-red: #ff7d7d;
}

:root {}

